{{> header}}
<div class="error">

  <h2>Page not found.</h2>

  <form action="*" method="post">
      <button class="return-btn" type="submit" name="button">Return to main page</button>
    </form>

</div>

{{> footer}}
